<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="static/style.css">
        <title>Photo merger | redirect</title>
    </head>
    <body>
        <div class="container">
            <h1>Redirect page</h1>
        </div>
        <div class="container">
            <p>Looks like you got redirected. Neat!</p>
        </div>
        <div class="container">
            <a href="/" class="btn btn-primary">Take me away from all this</a>
        </div>
        <script type="text/javascript" src="static/redirect.js"></script>
    </body>
</html>
